{% extends 'layouts.html' %}
{% block content %}

    {% comment %} 使用单个 {% endcomment %}
    {% comment %} {{form.name.label}}: {{ form.name }} {% endcomment %}

    {% comment %} 循环多个 {% endcomment %}
    {% comment %} {% for field in form %}
        {{ field.label }} : {{ field }}
    {% endfor %} {% endcomment %}
{% comment %} novalidate 取消浏览器验证 {% endcomment %}
<form method="post" novalidate>
	{% csrf_token %}

    {% for field in form %}
	<div class="form-group">
		<label for="exampleInputEmail1">{{ field.label }}</label>
		{% comment %} <input type="text" name="title" class="form-control" /> {% endcomment %}
        {{ field }}
        <span>{{ field.errors.0 }}</span>
	</div>
    {% endfor %}

	<button type="submit" class="btn btn-primary">提交</button>
</form>



{% endblock %}